.popup__input {
    /* transition: background-color 5000s ease-in-out 0s; */
    width: 100%;
    padding: 0;
    border: none;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    background: transparent; 
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
}

.popup__input:first-child {
    margin-top: 24px;
}