.popup__auth {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

/* до кнопки 15 */
/* от кнопки до линии 216 */